/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@import url(css/droidarabicnaskh.css);

html,
button,
input,
select,
textarea {
    color: #222;
}
html{
    font-size: 16px;
}
body {
    font-size: 62.5%; /* 1em = 10px*/
    line-height: 1.4;
    font-family: 'Droid Arabic Naskh', serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
    */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   custom styles
   ========================================================================== */

html,body,.main-wrapper{
    width:100%;
    height:100%;
}
.header{
    height:130px;
    background: #000;
    width: 100%;
}
.left{
    float:right;
}
.right{
    float:left;
}
.logo img{
    height:110px;
    width:110px;
    margin: 10px 40px;
}
.links ul{
    margin:17px 40px;
}
.links ul li{
    display: inline;
}
.links ul li img{
    height: 90px;
}
.navigation{
    background-color: #E6E7E8;
    height: 32px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px #444;
}
.navigation ul{
    width: 500px;
    margin: 0 201px;
    float: right;
}
.navigation ul li{
    display: inline;
}
.navigation ul li a{
    font-size: 2.4em;
    color: #FEFEFE;
    padding: 2px 40px;
    text-shadow: 1px -1px 1px #222;
}
.red{
    background-color: #db1c28;  
}
.orange{
    background-color: #F36F21;
}
.blue{
    background-color: #00AEEF;
}
.content-wrapper{
    margin: 20px 26px 0 0px
}
.single-article{
    border-bottom: 1px solid #ccc;
    min-height: 138px;
    margin-bottom: 14px;
}
.article-img{
    float:right;
    border-right: 16px solid;
    padding-left: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.blue-border{
    border-color: #00AEEF;
}
.orange-border{
    border-color: #F36F21;
}
.date{
    font-size: 1.2em;
    text-transform: uppercase;
    color: #D71920;
}
.author{
    text-transform: uppercase;
    color: #999;
    font-size: 1.1em;
}
.single-article h2{
    font-size: 22px;
    color:#111;
    line-height: 1.2;
}
.single-article p{
    color:#222;
    font-size: 1.4em;
}
.left-content{
    width: 75%;
    float:right;
    position:relative;
    z-index:1;
    height:550px;
    overflow:hidden;

}
.right-content{
    width: 22%;
    border-left: 1px solid #ccc;
    min-height: 606px;
    float:left;
    background-color: #222;
    margin-top: -20px;
}
.right-content .sidebar-title{
    font-size: 2.4em;
    color: #FEFEFE;
    padding: 2px 26px;
    margin: 12px -8px;
    text-shadow: 1px -1px 1px #222;
    float: right;
    text-align: right;}
.video-title{
    background: #008298;
    width: 60px;
}
.follow-title{
    background: #D71920;
    width: 104px;
}
.embed-video{
    margin: 10px;
}
.viewNavigator_backButton{
    font-size: 2.2em;
    color: #FEFEFE;
    text-shadow: 1px -1px 1px #222;
    background-color: #008298;
    position: absolute;
    top: 166px;
    list-style: none;
    top: 130px;
    padding: 1px 34px;
    margin-right: 146px;

}
.viewNavigator_header_title{
    display: none;
}

@media screen and (max-width: 768px){
    .left-content{
        float:none;
        width: 100%;
    }
    .right-content{
        float:none;
        height: auto;
        width: 100%;
        margin-top: 10px;
    }
    .embed-video{
        float:left;
    }
}
/*Youtube Section*/
.youtube .carousel{
    position: absolute;
    width: 20%;
    margin: 217px auto;
}
.youtube ul.carousel li{
    display: inline;
}
.youtube .carousel .thumbnail{
    width:20%;
}
.youtube .player{
    width: 100%;
}
.ads{
    text-align: center;
    margin-top: 132px;
}
.articleDesc{
    color: #222;
    font-size: 1.4em;
}
.article-data{
    text-align: right;
}
.articleDesc img{

    border-right: 16px solid #008298;
    padding-left: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
    float:right;
}
.articleDesc p{
    clear: both;
}
.details{
    margin-left: 15px;
    z-index: 0;
}

/*Languages*/
ul.language{
    width: 96px;
    float: left;
    margin: 0;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
ul.language li a{
    font-size: 2.4em;
    color: #FEFEFE;
    padding: 2px 8px;
    text-shadow: 1px -1px 1px #222;
    font-weight: 100;
    background: #222;
}
ul.language li a.active{
    background: #db1c28;
}